
body { margin:0; font-family:Arial; background:#f4f6f9;  }
header {
  background: #2c5364;
  color: white;
  padding: 30px;
  display: flex;
  align-items: center;
}

header img {
  width: 130px; /* Resizes the image to be small */
  height: auto; /* Maintains aspect ratio */
  margin-left: 5%; /* Optional spacing between image and text */
}
header div {
  flex: 1;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 40px; /* spacing between items */
  margin-top: 8%;
}

nav a {
  text-decoration: none;
  padding: 20px;
  background: #3c6b7b;
  color: white;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.3s ease;
  width: 20%;
}

nav a:hover {
  transform: scale(1.05);
  background: #2c5364;
}

nav a img {
  width: 100px;   /* size of the images */
  height: auto;
  display: block;
  margin: 0 auto 10px auto; /* center and add spacing below */
}

nav a span {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
}


footer { text-align:center; padding:20px; background:#ddd; position: fixed; bottom: 0; width: 100%;}
