body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f9;
}

/* HEADER STYLE */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.header-left h1 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

/* Language Select */
.language-select {
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  background: white;
  color: #333;
  font-weight: 500;
  transition: 0.3s ease;
}

.language-select:hover {
  background: #f1f1f1;
}

.language-select:focus {
  box-shadow: 0 0 0 2px #4CAF50;
}

/* RTL Support */
body[dir="rtl"] .dashboard-header {
  flex-direction: row-reverse;
}

body[dir="rtl"] .header-left h1 {
  text-align: right;
}


main {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.kpi-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}

.kpi-box {
  background: #2c5364;
  color: rgb(8, 8, 8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}
.bus-wrapper {
  text-align: center;
}

.bus-label-admin {
  font-size: 18px;        /* Bigger */
  font-weight: bold;
  background: #e74c3c;    /* Strong color */
  color: white;
  padding: 4px 8px;
  border-radius: 8px;
  margin-bottom: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.bus-emoji {
  font-size: 28px;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

#map {
  height: 500px;
  border-radius: 10px;
}

button {
  padding: 8px 12px;
  margin-top: 10px;
  border: none;
  background: #2c5364;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

input {
  padding: 8px;
  width: 60%;
}
