body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f9;
}

header {
  background: linear-gradient(135deg, #0f2027, #2c5364);
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

main {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

#map {
  height: 400px;
}

button {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  background: #2c5364;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

textarea, input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

#chatBox {
  height: 100px;
  overflow-y: auto;
  background: #eee;
  padding: 5px;
}
 .chat-box {
  height: 180px;
  overflow-y: auto;
  background: #f1f1f1;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 8px 12px;
  border-radius: 12px;
  margin-bottom: 8px;
  max-width: 75%;
  font-size: 14px;
}

.driver-msg {
  background: #2c5364;
  color: white;
  align-self: flex-end;
}

.control-msg {
  background: #ddd;
  color: #333;
  align-self: flex-start;
}

.chat-input {
  display: flex;
  gap: 8px;
}

.chat-input input {
  flex: 1;
}
